*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header .header-top, header .header-bot{
  height: 60px;
  line-height: 60px;
}
.header-bot .al-right ul li{
  display: inline-block;
}


.container{
  width: 80%;
  margin: 0 auto;
}

/*LAYOUT*/

/*layout temporanee*/
.bg-grey{
  background-color: grey;
}
.bg-blue{
  background-color: blue;
}
.h1{
  height: 700px;
}
.h2{
  height: 300px;
}
.h3{
  height: 500px;
}
.spaced{
  padding: 10px 10px;
}

[class^="col-"]{
  float: left;
  padding: 0 15px;
}

.row:after{
  content: '';
  display: table;
  clear: both;
}

.row{
  margin: 0 -15px;
}

.col-100{
  width: 100%;
}

.col-33{
  width: calc(100%/3);
}

.col-50{
  width: 50%;
}

.col-25{
  width: 25%;
}

.col-75{
  width: 75%;
}

.al-left{

}

.al-right{
  text-align: right;
}

.centered{
  text-align: center;
}

.light-border{
  border: 1px solid red;
}

.jumbo{
  background-color: blue;
  /* background-image: url('../img/jumbotron.png'); */
}
