*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  color: #33475B;
}


/*HEADER*/
header .header-top, header .header-bot{
  height: 60px;
  line-height: 60px;
}
.header-bot .al-right ul li{
  display: inline-block;
}
.lang-sel{
  border: none;
}
.head-row1 select,.head-row1 span, .head-row1 button{
  margin: 5px 10px;
}
img.logo, .head-row1 i{
  vertical-align: middle;
}
/*Main*/
.main-top{

}
.main-top h1{
  padding-top: 70px;
  font-size: 4em;
  line-height: 110%;
}
.main-top p{
  line-height: 200%;
  padding-top: 40px;
}
/*LAYOUT*/
.container{
  width: 70%;
  margin: 0 auto;
}
[class^="btn-"]{
  padding: 5px 10px;
}
.btn-border-orange{
  margin-right: 0;
}
/*layout temporanee*/
.bg-grey{
  background-color: grey;
}
.bg-blue{
  background-color: blue;
}
.h1{
  height: 700px;
}
.h2{
  height: 300px;
}
.h3{
  height: 500px;
}
.spaced{
  padding: 10px 10px;
}

[class^="col-"]{
  float: left;
  padding: 0 15px;
}

.row:after{
  content: '';
  display: table;
  clear: both;
}

.row{
  margin: 0 -15px;
}

.col-100{
  width: 100%;
}

.col-33{
  width: calc(100%/3);
}

.col-50{
  width: 50%;
}

.col-25{
  width: 25%;
}

.col-75{
  width: 75%;
}

.al-left{

}

.al-right{
  text-align: right;
}

.centered{
  text-align: center;
}

.light-border{
  border: 1px solid red;
}

.jumbo-bg{
  background-image: url('../img/jumbotron.png');
  background-position: right;
  background-repeat: no-repeat;
  background-color: #FFF7F0;
}

.spacing{
  height: 85px;
  background-color: #AFEBE4;
  margin-top: -85px;
  border: 4px solid #33475B;
  border-left: none;
  border-right: none;
}
