*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  color: #33475B;
}

/*HEADER*/
header .header-top, header .header-bot{
  height: 60px;
  line-height: 60px;
}

.header-bot .al-right ul li{
  display: inline-block;
}

.lang-sel{
  border: none;
  font-size:100%;
}

.head-row1 select,.head-row1 span, .head-row1 button{
  margin: 5px 10px;
}

img.logo{
  vertical-align: middle;
}
.al-left a{
  text-decoration: none;
  padding: 0 5px;
}
.drop-dmenu a{
  text-decoration: none;
  padding: 0 15px;
}

/*Main*/
.main-top h1{
  padding-top: 70px;
  font-size: 3.5em;
  line-height: 110%;
}

[class^="did"]{
  line-height: 200%;
  padding: 40px 0px;
}

.did-small{
  font-size: .8em;
}
.did-int{
  padding: 0px 0px;
}

.tx-interno{
  margin: 20px 0px;
}

.subtitle-small{
  padding: 10px 0px;
  line-height: 180%;
}

.light-border{
  border: 1px solid lightgrey;
  border-radius: 10px;
}

.border-rb{
  border-bottom: 1px solid #ffffff;
  border-right: 1px solid #ffffff;
}

.border-l{
  border-left: 1px solid #ffffff;
}

.border-lt{
  border-left: 1px solid #ffffff;
  border-top: 1px solid #ffffff;
}

.hr-margin{
  margin: 30px 0px;
}

/*LAYOUT*/
.container{
  width: 70%;
  margin: 0 auto;
}

.contain-col{
  width: 80%;
  margin: 0 auto;
}

[class^="btn-"]{
  padding: 10px 10px;
  border-style: solid;
}

.btn-border{
  border-color: #FE775A;
  color: #FE775A;
  background-color: white;
  border-radius: 5px;
}

.btn-border-orange{
  border: #FE775A;
  color: white;
  background-color: #FE775A;
  border-radius: 5px;
  padding: 12px;
}

.btn-border-orange-padd{
  border: #FE775A;
  color: white;
  background-color: #FE775A;
  border-radius: 5px;
  padding: 20px 20px;
}

.shad{
  box-shadow: 0px 0px 8px -2px;
}

.v-centered{
  height: 200px;
  line-height: 200px;
}

.fa-check-circle{
  color:#FE775A;
  margin-right: 10px;
}

.v-list{
  text-align: left;
  list-style: none;
}

.bg-cyan{
  background-color: #00B6AD;
  background-image: linear-gradient(45deg,#00a4bd,#00bda5);
}

.bg-foot{
  background-color: #32495B;
}

.h1{
  height: 700px;
}

.h2{
  height: 200px;
}

.pad{
  padding: 30px;
}

.pad-tb{
  padding: 30px 0;
}

.pad-cel{
  padding: 10px;
}

.pad-main-bot{
  padding-right: 25%;
  padding-bottom: 20px;
}

.wid-60{
  width: 60%;
  margin: 0 auto;
}

.w-font{
  padding: 40px 0px;
}

.w-font h1, .w-font p{
  color: #ffffff;
}

.grid span{
  display: block;
  color: white;
}

.grid-tx{
  font-size: 250%;
  padding: 15px 0px;
  font-weight: bold;
}

.grid-tx::after{
  content: ' +';
}

.grid-small-tx{
  font-size: 80%;
}

[class^="col-"]{
  float: left;
  padding: 0 15px;
}

.row:after{
  content: '';
  display: table;
  clear: both;
}

.row{
  margin: 0 -15px;
}

.col-100{
  width: 100%;
}

.col-33{
  width: calc(100%/3);
}

.col-32{
  width: 32%;
  overflow: auto;
}

.col-50{
  width: 50%;
}

.col-25{
  width: 25%;
}

.col-2{
  width: 2%;
  padding: 2% 0;
}

.col-75{
  width: 75%;
}

.al-left{
  text-align: left;
}

.al-right{
  text-align: right;
}

.centered{
  text-align: center;
}

.padded-section{
  padding: 30px 0px;
}

.line-deals li{
  display: inline;
  padding-right: 20px;
}

.jumbo-bg{
  background-image: url('../img/jumbotron.png');
  background-position: right;
  background-position-y: -1px;
  background-repeat: no-repeat;
  background-color: #FFF4EE;
}

.spacing-bar{
  height: 85px;
  background-color: #AFEBE4;
  margin-top: -90px;
  border: 4px solid #33475B;
  border-left: none;
  border-right: none;
}

.cube{
  width: 100%;
  padding: 50px;
}

.margin-grid-fix{
  margin-left:-1px;
 }

.margin-grid-fix-top{
  margin-top: -1px;
 }

.logos-grid{
  padding: 100px;
  text-align: right;
}

.logos-grid li{
  display: inline-block;
  list-style: none;
  width: 140px;
  margin: 10px;
  vertical-align: middle;
}
/*FOOTER*/

[class^="ul-foot"] li a{
  color: #ffffff;
  font-size: 1.1em;
  text-decoration: none;
  list-style: none;
}

.ul-foot-title{
  font-weight: 800;
  padding: 25px 0px;
 }

.ul-foot-element{
  padding: 8px 0;
}

.ul-lang-foot li a{
  color: #ffffff;
  text-decoration: none;
}

.ul-lang-foot li{
  display: inline;
  padding: 0 20px;
}

.btn-foot{
  background-color: #ffffff;
  color: #33475B;
  border-radius: 5px;
  display: block;
  width: 70%;
  border: none;
  font-size: 90%;
}

.foot-logos{
  color: #ffffff;
  padding: 0px 10px;
  font-size: 110%;
}

.bot-footer{
  position: relative;
  padding: 30px 0;
}

.bot-footer img,.bot-footer p,.bot-footer a{
  color: #ffffff;
  text-decoration: none;
}

.bot-footer a{
  padding: 10px;
}

.bot-footer span{
  position: absolute;
  right: 0;
  top: 40px;
}
